#categoryHeader {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  text-align: center;
}


a#deleteButton {
  text-decoration: none;
  text-align: center;
  color: ivory;
  padding: .5em;

    &:hover {
      color: rgb(244, 89, 66);
    }
}
